<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
</head>
<body>
    <h1>Carrito de Compras</h1>

    {{#if productsInfo.length}}
        <h2>Productos en el carrito:</h2>
        <ul>
            {{#each productsInfo}}
                <li>
                    <ul>
                        <h3>Nombre: {{this.title}}</h3>
                        <p>Cantidad: {{this.quantity}}</p>
                        <p>Descripcion: {{this.description}}</p>
                        <p>Precio total: ${{multiply this.quantity this.price}}</p>
                    </ul>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>El carrito está vacío.</p>
    {{/if}}

    <a href="/products">Volver a la lista de productos</a>

    <script src="/helpers.js"></script>
</body>
</html>
