<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body class="container mt-5">

    <h1>Información del Usuario Actual</h1>
    {{#if user}}
    <div class="card mt-3">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>NOMBRE</th>
                        <th>APELLIDO</th>
                        <th>MAIL</th>
                        <th>ROL</th>
                        <th>ACCIÓN</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each allUsersPremiums}}
                        <tr>
                            <td>{{this.first_name}}</td>
                            <td>{{this.last_name}}</td>
                            <td>{{this.email}}</td>
                            <td>{{this.role}}</td>
                            <td class="d-flex align-items-center">
                                <form action="/api/users/premium/{{this._id}}" method="POST" class="mr-2">
                                    <select class="custom-select" name="newRole" style="width: 120px; font-size: 0.85rem;">
                                        <option value="admin">Admin</option>
                                        <option value="premium">Premium</option>
                                        <option value="user">User</option>
                                    </select>
                                    <button type="submit" class="btn btn-primary btn-sm mr-2">Cambiar</button>
                                </form>
                                <form action="/api/users/delete-user/{{this._id}}" method="POST">
                                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <br>
{{else}}
    <p class="mt-3">Usuario no autenticado</p>
{{/if}}


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
